body {
    background-color: black;
    align-self: center;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

.wrapper {
    background-color: gray;
    margin: auto;
    width: 500px;
    border-width: 10px;
    border-style: solid;
    border-color: darkred;
    border-radius: 30px;
}

h1 {
    margin: auto;
    width: 50%; 
    color: springgreen;
    font-size: 42;
}

count-down {
    font-size: 100;
    color: goldenrod; 
    width: 50%;
}
